.App-component-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px 15px;
    margin-bottom: 15px;
    background-color: #eee;

    .column-btns {
        display: inline-block;
        width: 2%;
        
        span {
            display: block;
        }
    }

    .column-elements {
        display: inline-block;
        width: 98%;
    }
}

.column-sortable-placeholder {
    float: left;
    width: 30%;
    padding: 20px 10px;
    margin-right: 10px;
    border: 2px dashed #d0d0d0;
}